


body{
    background:rgb(248, 204, 212);
    padding: 15%;
    margin:auto;
}
  
.letter {
    position: relative;
    width: 600px;
    height: 1100px;
    perspective: 500px;
    cursor: pointer;
    margin: auto;
}
    
.letter-container{
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition-duration: 1s;
      margin: auto;
    }
    
.back,.front { 
    border: 5%;
    display: flex;
    align-self: center;
    margin: auto;
    width: 600px;
    height: 1100px;
    background: #ffffff;
    border-radius: 2%;
    box-shadow: 0 0 30px rgb(214, 151, 162);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    backface-visibility: hidden;
      
    }
    

.front {
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.front h1{
    font-family: kansasnew, serif;
    font-weight: 500;
    font-style: normal;
}

.front p{
    font-family: kansasnew, serif;
    font-weight: 400;
    font-style: normal;
}

    
.back {
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    size: 10px;
    font-family: fz-shu-song-gb18030,serif;
    font-weight: 400;
    font-style: normal;
    line-height: 5px;
    transform: rotateY(180deg);  
    }

    
    .back:hover, .letter-container:active {
        -webkit-transform:rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transition-duration:.5s; 
        transition-duration:.5s; 
    }

  
