body {
    width: 1440px;
    height: 900px;
    
    background-color:rgba(238, 222, 222, 1);

}

h1{
    font-family: atrament-web, sans-serif;font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    
    color:black;
  
}

h2{
    font-family: atrament-web, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: atrament-web, sans-serif;
    font-weight: 600;
    font-style: italic; 
}

p {
    font-family: serenity,sans-serif;
    font-weight: 500;
    font-style: normal;  
}



nav {
    font-family: atrament-web, sans-serif;font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    
    color:black;

}

.menu {
    position: fixed;
    width: 138px;
    height: 32px;
    left: 41px;
    top: 32px;
    cursor: pointer;
    z-index: 100;
    

}

.yiyiwang {
    position: fixed;
    width: 138px;
    height: 32px;
    left: 651px;
    top: 32px;
    z-index: 100;

}

nav{
    position: fixed;
    width: 142px;
    height: 127px;
    left: 37px;
    top: 72px;
    z-index: 100;

}
.page_name{
    position: fixed;
    width: 138px;
    height: 32px;
    left: 1273px;
    top: 32px;
    z-index: 100;
    
}

.contact-box {
    position: absolute;
    width: 382px;
    height: 402px;
    left: 529px;
    top: 249px;

    background-color: white;
    box-shadow: 0 0 30px rgb(206, 190, 190);
    


    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

}

.contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    


}

.ins{
    width: 10%;
    margin:5px;
    cursor: pointer;
    
}

.snap{
  width: 10%;
  margin: 5px;
  cursor: pointer;
}

.wechat{
    width: 12%;
    margin:1.5px;
    cursor: pointer;
}


.qr-codes{

    position: absolute;
    width: 382px;
    height: 402px;
    left: 529px;
    top: 249px;

    display: none;

    background-color: white ;
    opacity:0.5;
    z-index: 98;
}

.wechat-code{
    z-index: 99;
    position: absolute;
    width: 250px;
    height: 239px;
    left: 595px;
    top: 301px;
    overflow: hidden;

    display: none;
    
}

.ins-code{
    z-index: 99;
    position: absolute;
    width: 235px;
    height: 230px;
    left: 605px;
    top: 301px;
    overflow: hidden;

    display: none;
    
} 

.snap-code {
    z-index: 99;
    position: absolute;
    width: 240px;
    height: 230px;
    left: 600px;
    top: 301px;
    overflow: hidden;

    display: none;
    
}





@media screen and (max-width: 768px) {

    nav {
        display: none;
    }


    
}

