body {
    width: 1440px;
    height: 1821px;

    background-color:black;
    

}

h1{
    font-family: atrament-web, sans-serif;font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    
    color:white;
  
}

h2{
    font-family: atrament-web, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: atrament-web, sans-serif;
    font-weight: 600;
    font-style: italic; 
}

p {
    font-family: serenity,sans-serif;
    font-weight: 500;
    font-style: normal;  
}



nav {
    font-family: atrament-web, sans-serif;font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    
    color:white;

}

.menu {
    position: fixed;
    width: 138px;
    height: 32px;
    left: 41px;
    top: 32px;
    cursor: pointer;
    

}

.yiyiwang {
    position: fixed;
    width: 138px;
    height: 32px;
    left: 651px;
    top: 32px;

}

nav{
    position: fixed;
    width: 142px;
    height: 127px;
    left: 37px;
    top: 72px;

}
.page_name{
    position: fixed;
    width: 138px;
    height: 32px;
    left: 1273px;
    top: 32px;
    
}

.fixedimg1 {
    position: fixed;
    width: 671px;
    height: 542px;
    left: 16px;
    top: 151px;
    
    background-image:url(work02/IMG_5444.png);
    background-repeat: no-repeat;
    background-size: contain;

    z-index: -1;

}

.baseimg1 {
    position: absolute;
    width: 890px;
    height: 762px;
    left: 582px;
    top: 92px;
    
    background-image:url(work02/IMG_8254.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    z-index:-1
    
}

.baseimg2 {
    position: absolute;
    width: 916px;
    height: 672px;
    left: 556px;
    top: 100px;

    background-image:url(work02/pieces.png);
    background-repeat: no-repeat;
    background-size: cover;

    z-index:-1
}


.fixedimg2 {
    position: fixed;
    width: 991px;
    height: 526px;
    left: 541px;
    top: 450px;


    background-image:url(work02/hand.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.caption{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    text-align: justify;

    position: absolute;
    width: 628px;
    height: 364px;
    left: 682px;
    top: 1095px;
    color: white;

}

@media screen and (max-width: 768px) {

    body {
        width:inherit;
        height:inherit;
    
    }

    .menu {
        left: 10%;
        top: 5%;    
    }
    
    .yiyiwang {
        left: 40%;
        top: 5%;
    
    }
    
    nav{
        display: none;
        left: 10%;
        top: 10%;
    
    }
    .page_name{
        left: 70%;
        top: 5%;
        
    }

    .fixedimg1 {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 55%;
        width: 100%;
        height: 50%;
        transform: translate(-50%,-50%);
        background-position: center;

    }

    .caption {

        margin: 0;
        position: absolute;
        top: 70%;
        left: 50%;
        width: 80%;
        height: 50%;
        transform: translate(-50%);
        text-align: justify

    }

    .caption p {
        font-size: 10%;
        line-height: 12px;
    }

    .caption h3 {
        line-height:10px;
    }

    .caption h2 {
        line-height:10px;
    }

    .baseimg1{
        display: none;
    }

    .baseimg2{
        display: none;
    }


    .mobile-botimg {
        margin: 0;
        position: absolute;
        top: 110%;
        left: 50%;
        width: 80%;
        height: 70%;
        transform: translate(-50%);
        background-image: url(work02/mobile-botimg.png);
        background-size: cover;
        background-position:center;
    }


    





    
}

