body{
    background-color:rgb(243, 243, 243);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    color: rgb(192, 57, 16);
}
h4{
    color: grey;
}
#large-title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-transform: uppercase
}

P{
    font-family:initial;
    font-size: 10pt;
}

ul{
    text-align: center;

}

.image {
    background-image: url("https://s3images.coroflot.com/user_files/individual_files/250901_pYWb7DAvals2k_D2tM2FaTR3K.png");
    background-size: cover;
    background-position: center;
    height: 500px;
  }

