body {
    background-color:white;

}

h1{
    font-family: atrament-web, sans-serif;font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    
    color:black;
  
}

h2{
    font-family: atrament-web, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: atrament-web, sans-serif;
    font-weight: 600;
    font-style: italic; 
}

p {
    font-family: serenity,sans-serif;
    font-weight: 500;
    font-style: normal;  
}

.HEADLINES {
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}




.menu {
    position: fixed;
    width: 138px;
    height: 32px;
    left: 41px;
    top: 32px;
    cursor: pointer;
    z-index: 100;
    

}

.yiyiwang {
    position: fixed;
    width: 138px;
    height: 32px;
    left: 651px;
    top: 32px;
    z-index: 100;

}

nav{
    position: fixed;
    width: 142px;
    height: 127px;
    left: 37px;
    top: 72px;
    z-index: 100;

}
.page_name{
    position: fixed;
    width: 138px;
    height: 32px;
    left: 1273px;
    top: 32px;
    z-index: 100;
    
}

.filter-container {
    position: absolute;
    width: 1083px;
    height: 78px;
    left: 179px;
    top: 220px;
    
}

.work {
    width: 317px;
    height: 534px;
    display: flex;
    flex-direction: column;
    display: none;

}

.show {
  display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-family: serenity,sans-serif;
    font-size: 13pt;
}
  

.btn:hover {
    background-color: #ddd;
}
  

.btn.active {
    background-color:black;
    color: white;
}



#work-container{
    position: absolute;
    width: 1083px;
    height: 1012px;
    left: 179px;
    top: 302px;

    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-flow:row wrap;



    
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    
}

.work-img {
    width: 317px;
    height: 415px;
    overflow: hidden;
    
    
}

.work-text {
    width: 317px;
    height: 88px;

    text-align: center;
    
}




@media screen and (max-width: 768px) {

    nav {
        display: none;
    }


    
}

